body {
  background: #FFF
}
.body .jumbotron {
  margin-bottom: 0
}
.navbar {
    margin-bottom: 0
}

.choice{
/*
    background-color: blue;
    color: red;
*/
    margin-bottom: 5px;
    padding: 15px;
    border: dashed;
}
