body {
  	background: #FFF;
	font-family: 'Montserrat','Courier New', serif;
}

#aboutMeSection h3{
	background: pink;
	text-align: center;
}

#aboutMeSection p{
	padding-left: 5px;
	padding-right: 5px;
}
#aboutMeSection p::first-letter{
	font-size: 30px;
	font-family: serif;
}
.body .jumbotron {
  margin-bottom: 0
}
.navbar {
    margin-bottom: 0
}

/*open accordion panel*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* enables glyphicons */
    content: "\e158";    /* glyphicon-chevron-down */
    float: right;        /* put chevron on right edge of panel */
    color: grey;         
}

/*closed accordion panel*/
.panel-heading .accordion-toggle.collapsed:after {
    content: "\e159";    /* glyphicon-chevron-right (>) */
}
