html, body {
	font-family: 'Montserrat','Courier New', serif;
	background: linear-gradient(180deg, #bcd2ee 20%, #2cb5e8); /* light blue to dark blue - top left to bottom right */
}

.jumbotron {
  	margin-bottom: 0;
	background-color: #bcd2ee;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav>li>a{
	font-weight: 900;
}

.section1{

}

.section2{

}

.section3{

}

/*open accordion panel*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* enables glyphicons */
    content: "\e158";    /* glyphicon-chevron-down */
    float: right;        /* put chevron on right edge of panel */
    color: grey;         
}

/*closed accordion panel*/
.panel-heading .accordion-toggle.collapsed:after {
    content: "\e159";    /* glyphicon-chevron-right (>) */
}

.form-control{
	opacity: 0.75;
}

#msgSubmit{
	color: red;
	font-weight: bold;
	text-align: center;
}
.panel-footer p{
	text-align: right;
}